<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="~{fragments/head :: common_head(#{services.title})}"></head>

<body class="dashboard-page">

<nav th:replace="~{fragments/header :: header('services')}"></nav>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3 fw-bold text-secondary" th:text="#{services.header}">Каталог услуг</h1>

        <a th:if="${session.user.role.name() == 'ADMIN'}"
           href="/DemoSpring/services/add"
           class="btn btn-primary d-flex align-items-center shadow-sm">
            <span class="material-icons-round me-2">add</span> <span th:text="#{services.add}">Создать</span>
        </a>
    </div>

    <div class="card">
        <div class="card-body p-0">
            <table class="table table-hover mb-0 align-middle">
                <thead>
                <tr>
                    <th class="ps-4" th:text="#{table.id}">ID</th>
                    <th th:text="#{services.table.name}">Название</th>
                    <th th:text="#{services.table.fee}">Стоимость (мес.)</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="service : ${services}">
                    <td class="ps-4 text-muted" th:text="${service.id}"></td>
                    <td class="fw-bold text-dark" th:text="${service.name}"></td>
                    <td>
                        <span class="badge bg-secondary bg-opacity-10 text-secondary rounded-pill px-3 py-2 fw-normal"
                              th:text="${service.monthlyFee} + ' ' + #{services.fee.currency}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>